

.swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    left: 10px !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important;
  }
  
  .swiper-button-next {
    position: absolute !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    background-color: white !important;
    opacity: 0.6 !important;
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px !important;
    font-weight: 900 !important;
    color: black !important;
  }

  .v-btn--size-default {
    min-width: 10px !important; 
    --v-btn-height: 25px !important;
  }
  .v-card-text {
    padding: 8px !important;
  }
  .v-container {
    padding: 6px !important;

  }
